
<div class="container">
  <h1>Connexion</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Pseudo</mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
          Le pseudo est requis.
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Le mot de passe est requis.
        </mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div>
      <button mat-raised-button color="success" type="submit" [disabled]="loginForm.invalid">Connexion</button>
    </div>
    <div>
      <p>Utilisez johndoe et password123 pour vous connecter (ou passez a l'inscription)</p>
    </div>
    <div>
      <p>Pas encore inscrit ?
        <a routerLink="/register">
          S'inscrire
        </a>
      </p>
    </div>
  </form>
</div>
<div *ngIf="isLoading" class="loading">
  <mat-spinner></mat-spinner>
</div>
