
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px 10px;
  padding-top: 10px;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px 10px;
  border-radius: 30px;
  padding: 10px 10px 10px 10px;
  margin : 10px 10px 10px 10px;
}

.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-align: center;
}


img{
  width:250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

img:hover{
  cursor: pointer;
}

mat-card {
  display: flex;
  flex: 1 0 300px;
  flex-basis: 500px;
  justify-content: center;
  align-items: center;
}

mat-card-actions{
  display: flex;
  align-items: center;
}
