.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px 10px;
  padding-top: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  //flex-direction: row;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px 10px;
  border-radius: 30px;
}

img{
  width:25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
