<div class="container">
  <div class="content">
    <a mat-button color="warn" title="Accueil" [routerLink]="['/accueil']">
        Cookify
    </a>
    <a mat-button title="Explorer" [routerLink]="['/explorer']">
        Explorer
    </a>

  </div>
  <div class="content">
    <button mat-icon-button color="warn" aria-label="Add" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <a mat-icon-button title="Profil" [routerLink]="['/profil']">
      <mat-icon>person</mat-icon>
    </a>
    <div>
</div>
